
.appLayout {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: var(--font-sans);
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
}

.mainContent {
    flex-grow: 1;
}

@media (max-width: 768px) {
    .mainContent {
        padding-bottom: 70px; /* Add padding to account for fixed mobile Footer */
    }
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 4%;
}
