
.carousel-container {
    margin-bottom: 2rem;
    position: relative;
}

.carousel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    background-color: transparent;
}

.carousel-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--text-primary);
}

.see-all-link {
    color: var(--accent-color);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: color var(--transition-speed);
}

.see-all-link:hover {
    color: var(--accent-color-hover);
    text-decoration: underline;
}

.carousel .swiper-container {
    padding-bottom: 20px; /* Space for navigation buttons */
}

.carousel .swiper-wrapper {
    display: flex;
    align-items: stretch; /* Ensures all cards are the same height */
}

.carousel .swiper-slide {
    width: auto; /* Let Swiper handle the width */
    height: auto; /* Ensures the slide fits the content */
}

.carousel-item {
    margin: 0 5px;
    flex-shrink: 0;
}
